<div class="row animated fadeIn">
    <div class="col-md-6 ">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Formulario</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarLicencia(f)">
                        <div class="form-group">
                            <label>Cantidad licencias pedidas</label>
                            <input [(ngModel)]="licencia.cant_licencias_pedidas " name="cant_licencias_pedidas" type="number" class="form-control" required min="0">
                        </div>

                        <div class="form-group">
                            <label>Dias de licencia</label>
                            <input [(ngModel)]="licencia.cant_dias_licencia" name="cant_dias_licencia" type="number" class="form-control" min="0" required>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <label>Desde</label>
                                <input [ngModel]="licencia.desde | date:'yyyy-MM-dd'" (ngModelChange)="licencia.desde = $event" name="desde" type="date" class="form-control">
                                <label>Hasta</label>
                                <input [ngModel]="licencia.hasta | date:'yyyy-MM-dd'" (ngModelChange)="licencia.hasta = $event" name="hasta" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Número de licencia</label>
                            <input [(ngModel)]="licencia.numero_licencia" name="numero_licencia" type="number" class="form-control" min="0" required>
                        </div>
                        <div class="form-group">
                            <label>Entidad pagadora</label>
                            <input [(ngModel)]="licencia.entidad_pagadora" name="entidad_pagadora" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Renta 1</label>
                            <input [(ngModel)]="licencia.renta1" name="renta1" type="number" class="form-control" min="0">
                        </div>
                        <div class="form-group">
                            <label>Renta 2</label>
                            <input [(ngModel)]="licencia.renta2" name="renta2" type="number" class="form-control" min="0">
                        </div>
                        <div class="form-group">
                            <label>Renta 3</label>
                            <input [(ngModel)]="licencia.renta3" name="renta3" type="number" class="form-control" min="0">
                        </div>
                        <div class="form-group">
                            <label>Funcionario</label>
                            <select [(ngModel)]="licencia.funcionario" name="funcionario" class="form-control" required>
                                        <option value="">Seleccione funcionario</option>
                                        <option *ngFor="let funcionario of funcionarios" [value]="funcionario._id">
                                            {{ funcionario.nombre }}
                                        </option>
                                    </select>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                              <i class="fa fa-save"></i>
                              Guardar
                            </button>
                            <a routerLink="/licencia-medica" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>