<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor...</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">Licencias Médicas ( <small>{{ totalRegistros }}</small> )</h3>
                    </div>
                    <div class="col-6">
                        <div class="text-right">

                            <button [routerLink]="['/licencia', 'nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i>
                    Crear Licencia Médica
                  </button>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Cantidad de licencias pedidas</th>
                            <th>Cantidad dias licencia</th>
                            <th>Desde</th>
                            <th>Hasta</th>
                            <th>Número licencia</th>
                            <th>Entidad pagadora</th>
                            <th>Rentas</th>
                            <th>Promedio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let licencia of licencias">
                            <td>{{ licencia.cant_licencias_pedidas }}</td>
                            <td>{{ licencia.cant_dias_licencia }}</td>
                            <td>{{ licencia.desde | date:'yyyy-MM-dd' }}</td>
                            <td>{{ licencia.hasta | date:'yyyy-MM-dd' }}</td>
                            <td>{{ licencia.numero_licencia }}</td>
                            <td>{{ licencia.entidad_pagadora }} </td>
                            <td>{{ licencia.renta1 }} | {{ licencia.renta2 }} | {{ licencia.renta3 }} </td>
                            <td>{{ licencia.promedio }}</td>
                            <td>
                                <button [routerLink]="['/licencia', licencia._id ]" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                          </button> &nbsp;
                                <button (click)="borrarLicencia( licencia )" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                          </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                  Anteriores
                </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                  Siguientes
                </button>
            </div>
        </div>
    </div>
</div>