<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor...</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">Licencias Médicas ( <small>{{ _licenciaMedicaService.totalferiados }}</small> )</h3>
                    </div>
                    <div class="col-6">
                        <div class="text-right">

                            <button [routerLink]="['/feriado', 'nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i>
                    Crear Feriado Legal
                  </button>
                        </div>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Días fijos</th>
                            <th>Días acumulados</th>
                            <th>Fecha inicio</th>
                            <th>Fecha termino</th>
                            <th>Días restantes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let feriado of feriados">
                            <td>{{ feriado.dias_vacaciones_fijos }}</td>
                            <td>{{ feriado.dias_vacaciones_acumulados }}</td>
                            <td>{{ feriado.fecha_inicio_vacaciones }}</td>
                            <td>{{ feriado.fecha_termino_vacaciones }}</td>
                            <td>{{ feriado.dias_vacaciones_restantes }}</td>
                            <td>
                                <button [routerLink]="['/feriado', feriado._id ]" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                          </button> &nbsp;
                                <button (click)="borrarFeriado( feriado )" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                          </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                  Anteriores
                </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                  Siguientes
                </button>
            </div>
        </div>
    </div>
</div>