<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor...</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">Tipo de categoría ( <small>{{ totalRegistros }}</small> )</h3>
                    </div>
                    <div class="col-6">
                        <div class="text-right">

                            <button (click)="crearTipoCategoria()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i>
                      Crear Tipo de Categoría
                    </button>
                        </div>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nivel</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tipoCategoria of tipoCategorias">
                            <td>
                                <input [(ngModel)]="tipoCategoria.nivel" name="nivel" type="text" class="form-control" placeholder="Nivel...">
                            </td>
                            <td>
                                <button (click)="guardarTipoCategoria( tipoCategoria )" class="btn btn-primary">
                              <i class="fa fa-save"></i>
                            </button> &nbsp;
                                <button (click)="borrarTipoCategoria( tipoCategoria )" class="btn btn-danger">
                              <i class="fa fa-trash-o"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                  Anteriores
                </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                  Siguientes
                </button>
            </div>
        </div>
    </div>
</div>