<div class="row animated fadeIn">
    <div class="col-md-6 ">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Puntaje</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarDuracionCap(f)">
                        <div class="form-group">
                            <label>Mínimo horas</label>
                            <input [(ngModel)]="duracionCap.min" name="min" type="number" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Máximo horas</label>
                            <input [(ngModel)]="duracionCap.max" name="max" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Puntaje</label>
                            <input [(ngModel)]="duracionCap.puntaje" name="puntaje" type="number" class="form-control" required>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          Guardar</button>
                            <a routerLink="/horas-caps" class=" btn btn-inverse waves-effect waves-light ">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>