<div class="row animated fadeIn">
    <div class="col-md-6 ">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Capacitación Nivel Técnico</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCapNivelTec(f)">
                        <div class="form-group">
                            <label>Nivel técnico</label>
                            <input [(ngModel)]="capNivelTec.nivel_tecnico" name="nivel_tecnico" type="string" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Factor</label>
                            <input [(ngModel)]="capNivelTec.factor" name="factor" type="number" step="any" class="form-control" required>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                              <i class="fa fa-save"></i>
                              Guardar</button>
                            <a routerLink="/cap-nivel-tecnicos" class=" btn btn-inverse waves-effect waves-light ">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>