<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Funcionario: NOMBRE FUNCIONARIO</h4>
                <form class="form">
                    <div class="form-group m-t-40 row">
                        <label for="nombre" class="col-2 col-form-label">Nombre</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rut" class="col-2 col-form-label">Rut</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="rut">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fecha_nacimiento" class="col-2 col-form-label">Fecha nacimiento</label>
                        <div class="col-10">
                            <input class="form-control" type="date" id="fecha_nacimiento">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="direccion" class="col-2 col-form-label">Dirección</label>
                        <div class="col-10">
                            <input class="form-control" type="date" id="direccion">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-2 col-form-label">Email</label>
                        <div class="col-10">
                            <input class="form-control" type="email" id="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telefono" class="col-2 col-form-label">Teléfono</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="telefono">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fecha_inicio_laboral" class="col-2 col-form-label">Fecha inicio laboral</label>
                        <div class="col-10">
                            <input class="form-control" type="date" id="fecha_inicio_laboral">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telefono" class="col-2 col-form-label">Teléfono</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" id="telefono">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="categoria" class="col-2 col-form-label">Categoría</label>
                        <div class="col-10">
                            <select class="custom-select col-12" id="categoria">
                                <option selected="">Seleccione una categoría</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="capacitacion" class="col-2 col-form-label">Capacitación</label>
                        <div class="col-10">
                            <select class="custom-select col-12" id="capacitacion">
                                <option selected="">Seleccione una capacitación</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tipoContrato" class="col-2 col-form-label">Tipo Contrato</label>
                        <div class="col-10">
                            <select class="custom-select col-12" id="tipoContrato">
                                <option selected="">Seleccione un tipo de contrato</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar</button>
                        <a routerLink="/funcionarios" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>