<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarFuncionario( input.value )" type="text" class="form-control" placeholder="Buscar funcionario...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor...</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="card" *ngIf="!cargando">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Funcionarios ( <small>{{ totalRegistros }}</small> )</h3>
                </div>
                <div class="col-6">
                    <div class="text-right">

                        <button [routerLink]="['/funcionario', 'nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i>
                    Crear Funcionario
                  </button>
                    </div>
                </div>
            </div>
            <table id="demo-foo-pagination" class="footable table m-b-0 toggle-arrow-tiny" data-page-size="5">
                <thead>
                    <tr>
                        <th data-toggle="true"> Imágen </th>
                        <th> Nombre </th>
                        <th> Rut </th>
                        <th> Email </th>
                        <th></th>
                        <th data-hide="all">Teléfono</th>
                        <th data-hide="all"> Fecha de nacimiento </th>
                        <th data-hide="all"> Dirección </th>
                        <th data-hide="all"> Fecha inicio laboral</th>
                        <th data-hide="all"> Puntaje capacitación acumulado </th>
                        <th data-hide="all"> Total puntaje </th>
                        <th data-hide="all"> Nivel actual </th>
                        <th data-hide="all"> Categoría </th>
                        <th data-hide="all"> Capacitaciones </th>
                        <th data-hide="all"> Tipo contrato </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let funcionario of funcionarios">
                        <td>
                            <img (click)="mostrarModal( funcionario._id )" [src]="funcionario.img | archivos" class="img-50 img-circle pointer">
                        </td>
                        <td>{{ funcionario.nombre }}</td>
                        <td>{{ funcionario.rut }}</td>
                        <td>{{ funcionario.email }}</td>
                        <td>
                            <button [routerLink]="['/funcionario', funcionario._id]" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                        </button> &nbsp;
                            <button (click)="borrarFuncionario( funcionario )" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        </td>
                        <td>{{ funcionario.telefono }}</td>
                        <td>{{ funcionario.fecha_nacimiento | date:'dd-MM-yyyy' }}</td>
                        <td>{{ funcionario.direccion }}</td>
                        <td>{{ funcionario.fecha_inicio_laboral | date:'dd-MM-yyyy' }}</td>
                        <td>{{ funcionario.puntaje_cap_acumulado }}</td>
                        <td>{{ funcionario.total_puntaje }}</td>
                        <td>{{ funcionario.nivel_actual }}</td>
                        <td>{{ funcionario.categoria_funcionario.nombre_cargo_funcionario }}</td>
                        <td>{{ funcionario.capacitacion }}</td>
                        <td>{{ funcionario.tipo_contrato.nombre_tipo_contrato }} </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right" *ngIf="totalRegistros > 5">
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                Anteriores
              </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                Siguientes
              </button>
            </div>
        </div>
    </div>
</div>