<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarPermiso( input.value )" type="text" class="form-control" placeholder="Buscar permiso...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor...</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">Permisos( <small>{{ totalRegistros }}</small> )</h3>
                    </div>
                    <div class="col-6">
                        <div class="text-right">

                            <button [routerLink]="['/permiso', 'nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i>
                      Crear Permiso
                    </button>
                        </div>
                    </div>
                </div>


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Funcionario</th>
                            <th>Fecha</th>
                            <th>Días fijos</th>
                            <th>Tiempo permiso</th>
                            <th>Días restantes</th>
                            <th>Días adm fijos</th>
                            <th>Días adm acumulados</th>
                            <th>Tipo permiso</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let permiso of permisos">
                            <td>{{ permiso.funcionario.nombre }}</td>
                            <td> {{ permiso.fecha | date:'yyyy-MM-dd' }} </td>
                            <td> {{ permiso.dias_fijos }} </td>
                            <td> {{ permiso.tiempo_permiso }} </td>
                            <td> {{ permiso.dias_restantes }} </td>
                            <td> {{ permiso.dias_adm_fijos }} </td>
                            <td> {{ permiso.dias_adm_acumulados }} </td>
                            <td> {{ permiso.tipoPermisos.nombre | lowercase }} </td>
                            <td>
                                <button [routerLink]="['/permiso', permiso._id ]" class="btn btn-primary">
                              <i class="fa fa-save"></i>
                            </button> &nbsp;
                                <button (click)="borrarPermiso( permiso )" class="btn btn-danger">
                              <i class="fa fa-trash-o"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="totalRegistros > 5">
                    <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                    Anteriores
                  </button>
                    <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                    Siguientes
                  </button>
                </div>
            </div>
        </div>
    </div>
</div>