<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor...</span>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-md-6 ">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Formulario</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarFeriado(f)">
                        <div class="form-group">
                            <label>Días fijos</label>
                            <input [(ngModel)]="feriado.dias_vacaciones_fijos " name="dias_vacaciones_fijos" type="number" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>Fecha inicio vacaciones</label>
                            <input [ngModel]="feriado.fecha_inicio_vacaciones | date:'yyyy-MM-dd'" (ngModelChange)="feriado.fecha_inicio_vacaciones = $event" name="fecha_inicio_vacaciones" type="date" class="form-control">

                        </div>
                        <div class="form-group">
                            <label>Fecha termino vacaciones</label>
                            <input [ngModel]="feriado.fecha_termino_vacaciones | date:'yyyy-MM-dd'" (ngModelChange)="feriado.fecha_termino_vacaciones = $event" name="fecha_termino_vacaciones" type="date" class="form-control">
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar</button>
                            <a routerLink="/feriado-legal" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>