<div class="row animated fadeIn">
    <div class="col-md-6 ">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Capacitación</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarCapacitacion(f)">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input [(ngModel)]="capacitacion.nombre_capacitacion" name="nombre_capacitacion" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Duración <small>(en horas)</small></label>
                            <input [(ngModel)]="capacitacion.duracion" name="duracion" type="number" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea [(ngModel)]="capacitacion.descripcion_capacitacion" name="descripcion_capacitacion" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Nivel técnico</label>
                            <select [(ngModel)]="capacitacion.cap_nivel_tecnico" name="cap_nivel_tecnico" class="form-control" required>
                                <option value="">Seleccione nivel técnico</option>
                                <option *ngFor="let cap of capNivelTec" [value]="cap._id">
                                    {{ cap.nivel_tecnico }}
                                </option>
                            </select>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar</button>
                            <a routerLink="/capacitaciones" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>