<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor...</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">Nota capacitación</h3>
                    </div>
                    <div class="col-6">
                        <div class="text-right">

                            <button [routerLink]="['/cap-nota', 'nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i>
                    Crear Nota capacitación
                  </button>
                        </div>
                    </div>
                </div>


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Aprobación mínima</th>
                            <th>Aprobación máxima</th>
                            <th>factor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cap of capNotas ">
                            <td> {{ cap.aprobacion_minima }} </td>
                            <td>{{ cap.aprobacion_maxima }}</td>
                            <td> {{ cap.factor }} </td>
                            <td></td>
                            <td>
                                <button [routerLink]="['/cap-nota', cap._id ]" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                          </button> &nbsp;
                                <button (click)="borrarCapNota( cap )" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                          </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>