<div class="row animated fadeIn">
    <div class="col-md-6 ">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Puntaje</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarPuntajeAB(f)">
                        <div class="form-group">
                            <label>Nivel</label>
                            <input [(ngModel)]="puntajeAB.nivel" name="nivel" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Rango mínimo</label>
                            <input [(ngModel)]="puntajeAB.rango_min" name="rango_min" type="number" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Rango máximo</label>
                            <input [(ngModel)]="puntajeAB.rango_max" name="rango_max" type="number" class="form-control" required>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          Guardar</button>
                            <a routerLink="/puntajeAbs" class=" btn btn-inverse waves-effect waves-light ">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>